* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main header {
  font-size: 4rem;
  font-weight: 800;
  color: #161616;
}

.generate-joke {
  position: relative;
  width: 90%;
  padding: 10px;
  background-color: #000D9D;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  border-bottom: 5px solid #000542;
  cursor: pointer;
  
  &:active {
    border: none;
    transform: translateY(5px);
  }
}

.loading {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
}

.gen-text {
  font-size: 1.5rem;
}

.show-twist {
  padding: 5px;
  background-color: #209D00;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  border-bottom: 3px solid #1B4200;
  cursor: pointer;
  
  &:active {
    border: none;
    transform: translateY(3px);
  }
}

.setup,
.punchline {
  display: flex;
  gap: 5px;
}

.hide-element {
  visibility: hidden;
}

.loader {
  display: block;
  position: absolute;
  height: 90px;
  width: 90px;
  border: 7px solid white;
  border-top: 7px solid #9A9B9F;
  border-bottom: 7px solid #00CEFF;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: motion 0.7s linear infinite;
  z-index: 5;
}

@keyframes motion {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loaderBG{
  height: 12%;
  width: 91%;
  background-color: #FFFFFF;
  position: absolute;
  top: 54%;
  left: 46%;
  transform: translate(-46%, -54%);
  z-index: 4;
}