* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main header {
  font-size: 5rem;
  font-weight: 800;
  color: #161616;
}

.generate-joke {
  position: relative;
  width: 90%;
  padding: 10px;
  background-color: #000D9D;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  border-bottom: 5px solid #000542;
  cursor: pointer;
  
  &:active {
    border: none;
    transform: translateY(5px);
  }
}

#loading {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text {
  font-size: 1.5rem;
  font-weight: 500;
}

.gen-text {
  font-size: 1.5rem;
}

.show-twist {
  padding: 5px;
  background-color: #209D00;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  border-bottom: 3px solid #1B4200;
  cursor: pointer;

  &:active {
    border: none;
    transform: translateY(3px);
  }
}